.container {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.searchContainer {
  width: 100%;
  align-self: center;
  position: relative;
  left: -50%;
}

.searchWrapper {
  width: 50%;
  float: left;
  position: relative;
  left: 50%
}

.resultsContainer {
  margin-top: 100px;
}

.addListingButton {
  float: right;
  position: relative;
}

.headerSection {
  padding: 10px;
}
